/*===================================================================
   This stylesheet uses {less}, the dynamic stylesheet language ;]
=====================================================================*/

/* CONFIG ==========================*/

@rose-color: #b40013;
@block-background: #d9d9d9;
@commentcount-width: 27px;
// Note, I believe this is maintained in Drupal backend 
@stories-width: 300px;
@cornerrounding: 6px;

/* PRESETS ==========================*/

.border-radius(@tl: 5px, @tr: 5px, @bl: 5px, @br: 5px) {
  border-top-left-radius:             @tl;
  border-top-right-radius:            @tr;
  border-bottom-right-radius:         @br;
  border-bottom-left-radius:          @bl;
  -webkit-border-top-left-radius:     @tl;
  -webkit-border-top-right-radius:    @tr;
  -webkit-border-bottom-right-radius: @br;
  -webkit-border-bottom-left-radius:  @bl;
  -moz-border-radius-topleft:         @tl;
  -moz-border-radius-topright:        @tr;
  -moz-border-radius-bottomright:     @br;
  -moz-border-radius-bottomleft:      @bl; }

.border-radius-all(@radius: 5px) {
  border-radius:         @radius;
  -webkit-border-radius: @radius;
  -moz-border-radius:    @radius;
  -o-border-radius:      @radius;
  -khtml-border-radius:  @radius;
}

// Making sure padding (and border size) are allocated INSIDE the box. Thanks to http://css-tricks.com/box-sizing/
.borderbox(@pt: 5px, @pr: 5px, @pb: 5px, @pl: 5px) { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* IE 8+ */
  padding-top: @pt;
  padding-right: @pr;
  padding-bottom: @pb;
  padding-left: @pl;
}

.borderbox-all(@paddingall: 5px) { 
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* IE 8+ */
  padding-top: @paddingall;
  padding-right: @paddingall;
  padding-bottom: @paddingall;
  padding-left: @paddingall;
}

.box-shadow(@horz_offset: 0px, @vert_offset: 0px, @blur_distance: 5px, @spread_distance: 5px, @color: #888) {
  -moz-box-shadow: @horz_offset @vert_offset @blur_distance @spread_distance @color;
  -webkit-box-shadow: @horz_offset @vert_offset @blur_distance @spread_distance @color;
  box-shadow: @horz_offset @vert_offset @blur_distance @spread_distance @color;
}

/* LAYOUT ETC ==========================*/

body, input[type="text"], input[type="submit"] {
  font-size: 16px;
}

.candidate-subtitle {
  font-size: 15px;
  padding-left: 6px;
  line-height: 16px;
}

body, h3, h2, h1.candidate, h1.title, h2.candidate-personal, h2.candidate-political, h2.block-title, input[type="text"], input[type="submit"] {
  font-family: Calibri, sans-serif;
  letter-spacing: 0.00em;
}

h1 {
  font-size: 17px;
  color: @rose-color;
  text-transform: uppercase;
}

h1.title {
  font-size: 22px;
}

.node-type-kandidat {
  h1.title {
    display: none;
  }
}

h2, h2.node-title {
  font-size: 15px;
  color: @rose-color;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2.block-title {
  font-size: 17px;
}

h2.candidate-political, h2.candidate-personal {
  font-size: 19px;
  border-bottom: 1px dashed #B0B0B0;
}

h1.title {
  margin-bottom: 10px;
}

h3 {
  font-size: 13px;
  color: @rose-color;
  margin-bottom: 3px;
}


h3.plan {
  font-family: Times New Roman, Calibri, sans-serif;
  letter-spacing: 0.00em;
  margin-bottom: 0px;
  width: (@stories-width - @commentcount-width - 10)
}

.article-date {
  font-size: 12px;
  font-style: italic;
}

a {
  color: @rose-color;
  text-decoration: none;
}

a:link, a:visited {
  color: @rose-color;
  text-decoration: none;
}

.banner {
  height:270px;
  background-size: 100%;
  .borderbox(0, 0, 0, 0);
  margin-bottom: 30px;
}

/* BRANDING */

.logo-img {
  padding: 15px 0 10px;
}

img {
  vertical-align: inherit;
}

img[style*=left] {
  clear: both;
  padding-right: 10px;
}

img[style*=right] {
  clear: both;
  padding-left: 10px;
}

/* NAVIGATION */

.navigation {
  .border-radius(@cornerrounding, @cornerrounding, 0, 0);
  background:@rose-color;
  height: 40px;
}

#main-menu li {
  float: left;
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 40px;
  padding: 0 30px;
  text-transform: uppercase;
  border-right: 2px solid #9E0112;
  
  a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  li.last {
    border-right:none;
  }
}

/* CONTACT MENU */

#block-menu-menu-soc-odder-contact {
  font-size: 12px;
  line-height: 22px;
  width: 214px;
  
  li {
    display: inline;
  }
}

ul.menu {
  text-align: right;
  padding-bottom: 5px;
}
/* SEARCH BOX */

#block-search-form {
  border:2px solid #cdcdcd;
  height:29px;
  .borderbox(0, 0, 0, 2px);
  width:220px;
  .border-radius-all(@cornerrounding);
  background:#ffffff;
  margin-top: 37px;
  
  .form-type-textfield {
    float:left;
    display:block;
    margin: 0 0 0 0;
    
    input {
      width: 168px;
      outline: none;
      margin-left: 0px;
      border: none;
      height: 20px;
    }
    input:active, input:focus {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
  .form-actions input {
    background: none repeat scroll 0 0 #9C9B9B;
    .border-radius(0, (@cornerrounding - 2), 0, (@cornerrounding - 2));
    color: #FFFFFF;
    display: block;
    float: right;
    height: 25px;
    margin-right: 0px;
    border-width: 0px;
    text-align: center;
    text-shadow: none;
    width: 42px;
  }
}

.form-type-textfield {
  .borderbox(0, 4px, 0, 0);
}

/* SEARCH RESULT */
.search-info, #edit-advanced {
  display: none;
}

li.search-result {
  border-top: 1px dotted #b0b0b0;
}

h1.title#page-title {
  padding-top: 40px;
  padding-bottom: 30px;
}

/* FOOTER */

.footer {
  background:#d9d9d9;
  // This 30px should really be 10px, but without the ability to remove the <p>-tag in the footer text this number centers it vertically
  .borderbox(30px, 0, 10px, 0);
  margin: 30px 0 0 0;
  
  p {
    text-align:center;
  }
}

/* FRONTPAGE - MISSION */

.front .sidetext p {
  font: italic 18px/20px Calibri;
  color: #222221;
  padding: 15px 15px 0 15px;
  vertical-align: middle;
  text-align: center;
}

.sideright {
  // For some reason this background setting isn't applied. It's been moved to -default.css
  // background: url("../images/sidebg.jpg") repeat-y scroll 0 0 / 100% auto transparent;
  display: block;
  float: left;
  height: 270px;
  margin-bottom: 30px;
  .borderbox(0px, 0px, 0px, 0px);
  width: 220px;
}

/* BLOCKS */

.block-title {
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
  color:@rose-color;
  text-transform:uppercase;
  background: transparent;
  padding: 0 8px 0 8px;
}

.front .calendar .date {
  margin-top: 5px;
  border-bottom: 1px dashed #B0B0B0;
  font-weight: normal;
  font-style: italic;
}

.front .stories .block-title,
.front .stories .block-title-link,
.front .candidates .block-title,
.front .candidates .block-title-link {
  .border-radius(@cornerrounding, @cornerrounding, 0, 0);
  background:@rose-color;
  color: white;
}

.front .calendar, .front .poll, .front .newsletter {
  .border-radius-all(@cornerrounding);
  .borderbox(0, 0, 8px, 0);
  background: @block-background;
  width: 220px;
  margin-bottom: 20px;
}

.front .calendar .view-content, .front .poll .poll, form#webform-client-form-58 {
  .borderbox(0px, 8px, 0px, 8px);
  .border-radius-all(0px);
}

// Aimed at the newsletter block
.form-item, .form-actions {
  margin-bottom: 0.3em;
  margin-top: 0.3em;
}

.poll .vote-form .choices .title {
  font-weight: normal;
  font-style: italic;
  padding-top: 5px;
}

input[type="submit"] {
  .border-radius-all(@cornerrounding);
  height: 30px;
}

.form-item-choice {
  margin: 14px 0 14px 0;
  .borderbox(0, 8px, 0, 8px);
}

ul.links {
  margin-bottom: 0px;

  li {
    list-style: none;
  }
}

/* STORIES - FRONTPAGE */

.containerbox {
  border-bottom: 1px dotted #b0b0b0;
  position: relative;
  padding: 15px 0 10px 0;
}

/* Aimed at dates in stories view */
.front .stories .project {
  padding-top: 8px;
}

.plan {
  color: @rose-color;
  
  a {
    font-weight: bold;
    font-size: 20px;
    color: black;
    line-height: 15px;
  }
}

.comment-count {
  background:url(../images/num.png) no-repeat;
  width: @commentcount-width;
  font-weight: bold;
  font-size: 12px;
  line-height: 26px;
  text-align:center;
  height:27px;
  position:absolute;
  right:0;
  top:15px;
  color:@rose-color;
  
  a {
    color: @rose-color;
  }
}

/* STORIES ALL */

h1.storytitle, h1.storytitle a {
  font-family: Times New Roman, Calibri, sans-serif;
  font-size: 22px;
  color: black;
  letter-spacing: 0.00em;
  text-transform: none;
  margin-bottom: 0px;
  line-height: 15px;
  padding-bottom: 10px;
}

.float-left-mix1 {
  float: left;
  margin: 0px 15px 0px 0px;
}

.allstories-row {
  border-bottom: 1px dotted #b0b0b0;
  margin-bottom: 10px;
  // margin-top: 20px;
  position: relative;
  padding: 15px 0 10px 0;
}

/* CANDIDATES FRONTPAGE */

.teamlist {
  float: left;
  display: block;
  width: 95px;
  height: 110px;
  margin: 10px 0 0 0;
}

.teamlist.views-row-1 {
  width: 100%;
  height: 95px;
}

/* LAYOUT FOR CANDIDATES */

.candidate-banner {
  font-size: 16px;
  background:url(../images/banner_bg.jpg) repeat-y;
}

.banner_top {
  display: block;
  .borderbox(27px, 0, 0, 80px);
  margin-right: 20px;
  height: 270px;
  float: left;
}

.banner_list {
  .borderbox(0, 20px, 0, 320px);
  ul, ol {
    padding-left: 20px;
  }
  // Trying to make sure the social icons and email address align with the bottom of the image
  height: 157px;
}

.profile_list {
  .borderbox(0, 0, 0, 225px);
  ul, ol {
    padding-left: 30px;
  }
  height: 200px;
}

.banner_right {
  float: left;
  display: block;
  width: 500px;
  margin-top: 40px;
  padding:0 0 0 20px;
}

h1.candidate, h1.candidate a {
  .borderbox(0, 0, 0, 0);
  line-height: 15px;
  font-size: 22px;
}

// Special handling of headers inside banners
h1#bannerheader {
  .borderbox(27px, 0, 0, 0);
}

.field-name-field-my-focus ul {
  padding-left: 15px;
}

iframe.facebook-follow {
  float: left;
  padding: 3px 10px 0 0;
}

.social {
  float: left;
  padding: 0 10px 0 0;
}

.shadowed-box7 img {
  .box-shadow(0px, 0px, 7px, 0px);
}

.framed-pictures {
  background: url(../images/img_box.jpg) no-repeat;
  width: 80px;
  height: 77px;
  padding: 7px;
}

.team_all {
  .framed-pictures;
}

.mayor {
  background: url(../images/img_box.jpg) no-repeat;
  width: 350px;
  height: 77px;
  padding: 7px;
}

div.mayor img {
  float: left;
}

.mayor-subtitle {
  .candidate-subtitle;
  padding-left: 80px;
  padding-top: 43px;
}

/* STORIES */

.article-authors {
  float: right;
  display: inline-block;
}

.field-name-field-vote-up-down {
  float: right;
  .up-score {
    padding-left: 0px;
    padding-right: 9px;
  }
  .down-score {
    padding-left: 8px;
  }
  .vote-current-score {
    text-align: center;
    padding-top: 5px;
  }
}

/* ARBEJDSPROGRAM */

.banner-text {
  font: italic 18px/20px Calibri;
  color: #222221;
  padding-right: 20px;
}

.municipal {
  .views-row {
    width: 342px;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    height: 220px;
  }
  
  img {
    margin-left: 3px;
  }

  h2.field-content {
    //margin-bottom: 5px;
  }

  .views-row {
    // Title
    h2.policy-header {
      font-size: 19px;
      font-weight: bold;
      text-transform: uppercase;
      width: 268px;
      margin-bottom: 5px;
      margin-top: 5px;
    }

    // Teaser text
    .field-name-field-teaser {
      position: relative;
      display: block;
      width: 308px;
    }
  }

  .views-row-odd {
    float: right;
  }

  .comment-count {
    top: 100px;
    right: 28px;
  }
}

/* CALENDAR */

thead {
  font-weight: bold;
}

.fix-width-10 {
  width: 10%;
}

.fix-width-15 {
  width: 15%;
}

.fix-width-20 {
  width: 20%;
}

.fix-width-50 {
  width: 50%;
}

.fix-width-70 {
  width: 70%;
}


/* COMMENTS */

.comment-wrapper {
  border-top-style: dashed;
  border-top-color: @rose-color;
  border-top-width: 2px;
}

article.comment {
  margin-bottom: 10px;
  padding: 1em;
  border: #ccc 2px solid;  
}

article.comment.comment-by-viewer {
  border: @rose-color 2px solid;
}

div#comments>article:nth-of-type(odd) {
  background: #ccc;
}

div#comments>article:nth-of-type(even) {
  background: #ddd;
}

// Removing the add comment button above comments
div nav ul li.comment-add {
  display: none;
} 

/* POLL AND VOTING */
.block-poll .content .links { /* Disable display of links under a poll */
  display:none;
}

/* Fixes https://github.com/soc-odder/soc_odder-deploy/issues/26 */
.region {
  min-height: 1px;
}

p.voted-how {
  display: none;
}