/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */
 
/* base.css */

@charset "utf-8";

/*header*/

.logo-img {
	width:690px;
}

/*nav*/
.nav {
	width:960px;
}
/*footer*/
.footer {
	width:960px;
}

/* module.css */

.sidebar_img {
	width:721px;
}
.sideright {
	float:right;
	display:block;
/*	width:197px; */
	background:url(../images/sidebg.jpg) repeat-y;
	height:270px;
	margin-right:-320px;
	margin-bottom:40px;
}

.ipsum a {
	margin-left:620px;
}

.midblock{
	margin-left:110px;
}
.leftblock{
	width:335px;
}
.corner {
	width:195px;
	margin-left:165px;
}

.kalender2 {
	margin-top:27px;
	margin-left:165px;
}

.deltager {
	width:200px;
}

/* themes.css */

.banner {
	width:a;
}

.ole_info p {
	margin-left:70px;
}

.search_pos {
	left:730px;
}

.search_pos2 {
	left:160px;
}

ul.inline li {
    padding: 0 1.55em;
}

/* KandidatFixCss */

.place_text {
	margin-right: -30px;
}

.place_text2 {
	margin-right: -455px;
}
.place_text2 p {
	margin-right: -5px;
}

.banner_bis {
	width:980px;
}
.kanlaumain {
	margin-right: -450px;
}

.ole_info p {
	padding:0 50px 0 0;
}

.field-name-field-politisk-titel {
	padding-left: 70px;
	margin-left:0px;
}

.field-name-field-my-focus {
	padding:0 50px 15px 0;
}

.field-name-field-my-focus p {
	padding:0 50px 15px 70px;
}
