/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

@charset "utf-8";

.sideright {
	float:left;
	padding:0 0 0 22px;
	margin-right:-228px;
}

.ipsum a {
	margin-left:525px;
}

.teamlist {
	width:90px;
	margin:10px 0 0 0;
}

.kalender2 {
	margin:27px 0 0 0;
}

.givemig {
	font:normal 12px/20px Calibri;
	color:#000;
}

.givemig input {
	margin:0 5px 0 0;
}

.banner_title_font {
	padding:25px 0 0 0;
}

.search_pos {
	left:560px;
}

.search_pos2 {
	left:160px;
}

.place_text {
	margin-right: -30px;
}

.place_text2 {
	margin-right: -455px;
}

.place_text2 p {
	margin-right: -5px;
}

.banner_bis {
	margin-top: -2px;
}

.views-row-1 {
	width:380px;
}

.personlig {
	width:260px;
}

.field-name-field-my-focus {
	width:640px;
}

.field-name-field-my-focus p {
	width:640px;
}
