/* This file will hold styles that are loaded using the same media query as the wide grid. */

@charset "utf-8";

.sideright {
	padding:0 0 0 22px;
	margin-right:-160px;
}

.ipsum a {
	margin-left:585px;
}

.midblock{
	margin-left:40px;
}
.leftblock{
	width:320px;
}
.corner {
	width:200px;
	margin-left:20px;
}

.kalender2 {
	margin:27px 0 0 0;
	margin-left:20px;
}

.banner {
	width:980px;
}
.banner_title_font {
	height:30px;
}

.region-user-first {
	width:690px;
}
.search_pos {
	left:720px;
}
.search_pos2 {
	left:10px;
}
#zone-menu {
	margin-left:-130px;
}
.place_text {
	margin-right: 90px;
}
.place_text2 p {
	margin-right: 115px;
}
.kanlaumain {
	margin-right: -320px;
}

.link_sign {
	padding:13px 0 0 0;
	font:normal 11px Calibri;
	margin-left: -60px;
	margin-top: 170px;
	float:left;
}
.link_sign a {
	color:#b40014;
	padding:0 7px 0 0;
	margin-left:70px;
}
.field-name-field-politisk-titel {
	padding-left:0px;
}
.field-name-field-my-focus {
	padding:0 0 15px 0;
	width:640px;
}
.field-name-field-my-focus p {
	padding:0 0 15px 0;
	width:640px;
}
