/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */

@charset "utf-8";

.logo-img {
	width:490px;
	height:70px;
	padding:0 0 30px;
	float:left;
	display:block;
	padding-top: 25px;
}

.nav {
	width:950px;
	border-radius:8px;
	background:#b40013;
}

.footer {
	width:940px;
}

.sidebar_img {
	width:702px;
	overflow:hidden;
}
.sideright {
	float:right;
	margin-right:-460px;
	margin-bottom:40px;
}
.ipsum {
	padding-left:80px;
}
.ipsum a {
	margin-left:598px;
}
.midblock{
	width:360px;
	margin-left:150px;
}
.leftblock{
	width:310px;
}
.corner {
	width:190px;
	float:left;
	display:block;
	margin-left:285px;
	margin-top:0px;
}
.kalender2 {
	margin-top:20px;
	margin-left:285px;
}

.search_pos {
	left:720px;
}
.search_pos2 {
	left:180px;
}
ul.inline li {
    display: inline;
    list-style-type: none;
    padding: 0 1.49em;
}

.place_text {
	margin-right: -170px;
}
.place_text2 {
	margin-right: -715px;
}
.place_text2 p {
	margin-right: 115px;
}
.banner_bis {
	width:700px;
}
.kanlaumain {
	margin-right: -570px;
}
.ole_title {
	padding-left:70px;
}

.field-name-field-politisk-titel {
	margin-left:130px;
}
.field-name-field-my-focus {
	padding:0 50px 15px 130px;
}
