/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */

@charset "utf-8";

.front .sidetext p {
  font-size: 1.5em;
}

.sidebar_img {
  float:left;
}

.sideright {
  width: 210px;
  float:left;
  display:block;
  background:url(../images/sidebg.jpg) repeat-y;
  background-size: 100%;
  height:270px;
  margin-bottom:40px;
}